.paddings_width_wide {
    padding-left: 148px;
    padding-right: 148px;
}

@media screen and (max-width: 1279px) {
    .paddings_width_wide {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .paddings_width_wide {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .paddings_width_wide {
        padding-left: 16px;
        padding-right: 16px;
    }
}