.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 288px;
        gap: 48px;
    }
}