.cover__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 30%;
    z-index: 2;
    max-width: 1184px;
    min-height: 740px;
    transition: background-color ease-out;
}

.cover__overlay:hover {
    background-color: #2A2C2F;
    opacity: 80%;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px){
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}