.place {
    display: grid;
    max-width: 984px;
    grid-template-columns: 460px 464px;
    grid-template-rows: auto auto auto;
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 auto 80px;
}

.place:last-child {
    margin-bottom: 92px;
}